
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Voice123</a>
    <input #busqueda  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
</nav>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)=search(busqueda.value)>Buscar</button>
<button class="btn btn-outline-success my-2 my-sm-0 ml-4" type="submit" (click)=reload()>Actualizar</button>

<div class="row mt-4">
  <div class="card-columns">
    <div *ngFor="let provider of providers" class="card"  style="width: 18rem;">
          <img class="card-img-top" src="{{provider.user.picture_small}}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://voice123.com/{{ provider.user.username }}" > {{ provider.user.name }} </a>
          </div>
    </div>
  </div>
</div>
<div *ngIf="flag">
  <h1>{{mensaje}}</h1>
</div>

